#NULL HYPOTHESIS - A data analyst claims that the strike rate of batsman 6 is greater than or equal to rest#

#ALTERNATE HYPOTHESIS -A data analyst claims that the strike rate of batsman 6 is less than the other#

In [1]:
import pandas as pd
import numpy as np
import scipy.stats as st

In [2]:
data = pd.read_csv('/content/dataset1_test.csv')

In [3]:
data

     Batsman  Runs   Mins   BF  4s  6s      SR  Pos Dismissal  Inns
0          1    33   78.0   56   5   0   58.92    3    caught     2
1          1    33   77.0   49   6   0   67.34    3    caught     4
2          1   215  503.0  346  25   1   62.13    3       lbw     1
3          1    58   67.0   48   9   0  120.83    3    bowled     3
4          1     7   26.0   18   1   0   38.88    3    caught     1
..       ...   ...    ...  ...  ..  ..     ...  ...       ...   ...
291        6     0    2.0    4   0   0    0.00    1    bowled     4
292        6    52    NaN   53   6   1   98.11    1    bowled     1
293        6    41    NaN   62   6   0   66.12    1    caught     3
294        6     4    NaN    3   1   0  133.33    1    caught     2
295        6     2    NaN    7   0   0   28.57    1       lbw     4

[296 rows x 10 columns]

In [8]:
sample = data.loc[(data['Batsman']) == 6]
len(sample)

26

In [9]:
xbar = sample['SR'].mean() 
mu = data['SR'].mean()  
sigma = data['SR'].std()  
n = len(data)     
alpha = 0.05

In [10]:
print("Sample Mean - ",xbar)
print("Population mean - ",mu)
print("Standard deviation of population - ", sigma)
print("No of Records - ", n)
print("significance level - ",alpha)

Sample Mean -  52.714999999999996
Population mean -  61.04692567567567
Standard deviation of population -  31.803404001925824
No of Records -  296
significance level -  0.05

In [12]:
z_critical = st.norm.ppf(alpha)
z_critical

-1.6448536269514729

In [13]:
z=(xbar-mu)/(sigma/np.sqrt(n))

In [14]:
z

-4.5073121580725095

In [17]:
if (z < z_critical): #Lower-Tailed
    print("Null hypothesis can be rejected due to sufficient evidence")
else:
    print("Null hypothesis fail to be rejected due to sufficient evidence")

Null hypothesis can be rejected due to sufficient evidence